{% extends 'front/base.html.twig' %}

{% block title %}Qui sommes nous ?{% endblock %}

{% block body %}

    <header class="u-align-center u-clearfix u-header u-header" id="sec-4320">
        <div class="u-clearfix u-sheet u-sheet-1">
            <a href="{{ path('index_ort_junior_conseil') }}" data-page-id="39791696" class="u-image u-logo u-image-1" data-image-width="500" data-image-height="500" title="Index">
                <img src="{{ asset('front/images/Logo-removebg-preview1.png') }}" class="u-logo-image u-logo-image-1">
            </a>
            <a href="{{ path('search_etudiant_index') }}" class="u-btn u-btn-round u-button-style u-custom-font u-font-arial u-hover-custom-color-1 u-palette-1-base u-radius-3 u-btn-1">Rechercher</a>
            <nav class="u-align-center-lg u-align-center-md u-align-center-sm u-align-center-xs u-menu u-menu-dropdown u-menu-open-right u-offcanvas u-menu-1" data-position="">
                <div class="menu-collapse u-custom-font u-font-arial" style="font-size: 1.25rem; letter-spacing: 3px; text-transform: uppercase; font-weight: 700;">
                    <a class="u-button-style u-custom-active-border-color u-custom-active-color u-custom-border u-custom-border-color u-custom-border-radius u-custom-borders u-custom-color u-custom-hover-border-color u-custom-hover-color u-custom-left-right-menu-spacing u-custom-text-active-color u-custom-text-color u-custom-text-hover-color u-custom-top-bottom-menu-spacing u-nav-link" href="#">
                        <svg class="u-svg-link" viewBox="0 0 24 24"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-2498"></use></svg>
                        <svg class="u-svg-content" version="1.1" id="svg-2498" viewBox="0 0 16 16" x="0px" y="0px" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg"><g><rect y="1" width="16" height="2"></rect><rect y="7" width="16" height="2"></rect><rect y="13" width="16" height="2"></rect>
                            </g></svg>
                    </a>
                </div>
                <div class="u-custom-menu u-nav-container">
                    <ul class="u-custom-font u-font-arial u-nav u-spacing-10 u-unstyled u-nav-1">
                        <li class="u-nav-item"><a class="u-active-custom-color-1 u-border-active-palette-1-base u-border-hover-palette-1-light-1 u-border-no-left u-border-no-right u-border-no-top u-button-style u-hover-custom-color-1 u-nav-link u-palette-1-base u-radius-3" href="{{ path('qui_sommes_nous_ort_junior_conseil') }}" style="padding: 12px 20px;">Qui sommes nous</a>
                        </li>
                        <li class="u-nav-item"><a class="u-active-custom-color-1 u-border-active-palette-1-base u-border-hover-palette-1-light-1 u-border-no-left u-border-no-right u-border-no-top u-button-style u-hover-custom-color-1 u-nav-link u-palette-1-base u-radius-3" style="padding: 12px 20px;">Connexion</a><div class="u-nav-popup">
                                <ul class="u-custom-font u-font-arial u-h-spacing-20 u-nav u-unstyled u-v-spacing-10 u-nav-2"><li class="u-nav-item"><a class="u-active-custom-color-1 u-button-style u-hover-custom-color-1 u-nav-link" href="{{ path('etudiant_login') }}">ETUDIANT</a>
                                    </li><li class="u-nav-item"><a class="u-active-custom-color-1 u-button-style u-hover-custom-color-1 u-nav-link" href="{{ path('admin_login') }}">ADMINISTRATION</a>
                                    </li></ul>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="u-custom-menu u-nav-container-collapse">
                    <div class="u-container-style u-custom-color-1 u-inner-container-layout u-opacity u-opacity-40 u-sidenav">
                        <div class="u-inner-container-layout u-sidenav-overflow">
                            <div class="u-menu-close"></div>
                            <ul class="u-align-center u-custom-font u-font-arial u-nav u-popupmenu-items u-unstyled u-nav-3">
                                <li class="u-nav-item"><a class="u-button-style u-nav-link" href="{{ path('qui_sommes_nous_ort_junior_conseil') }}">Qui sommes nous</a>
                                </li>
                                <li class="u-nav-item"><a class="u-button-style u-nav-link">Connexion</a><div class="u-nav-popup">
                                        <ul class="u-custom-font u-font-arial u-h-spacing-20 u-nav u-unstyled u-v-spacing-10 u-nav-4">
                                            <li class="u-nav-item"><a class="u-active-custom-color-1 u-button-style u-hover-custom-color-1 u-nav-link" href="{{ path('etudiant_login') }}">ETUDIANT</a>
                                            </li>
                                            <li class="u-nav-item"><a class="u-active-custom-color-1 u-button-style u-hover-custom-color-1 u-nav-link" href="{{ path('admin_login') }}">ADMINISTRATION</a>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="u-black u-menu-overlay u-opacity u-opacity-70"></div>
                </div>
            </nav>
        </div>
    </header>

    <section class="u-clearfix u-palette-5-light-3 u-section-1" id="sec-9e97">
        <div class="u-clearfix u-sheet u-sheet-1">
            <h1 class="u-hover-feature u-text u-text-default u-text-1">Qui sommes nous ?</h1>
            <p class="u-align-justify u-custom-font u-font-arial u-text u-text-2"> Après la révolution bolchevique, l’ORT a continué tant qu’elle a pu à
                œuvrer pour les Juifs de Russie, devenus souvent paysans ou ouvriers
                d’usine. Mais elle a pris, à partir de 1920, une dimension
                internationale, avec son centre installé à Berlin, déménagé à Paris
                lorsque les nazis ont pris le pouvoir en 1933, puis à Genève pendant la
                seconde guerre mondiale, en attendant Londres après la guerre et jusqu’à
                nos jours. Apprendre des métiers utiles aux Juifs marginalisés,
                réfugiés, ou même internés dans des camps français ou des ghettos
                polonais, cela supposait de grandes compétences techniques et des
                dirigeants visionnaires, mais aussi la générosité financière des Juifs
                ayant le privilège de vivre dans des pays de liberté et de prospérité,
                en premier lieu ceux des Etats-Unis.On comprend mieux ainsi
                pourquoi l’ambassadeur des Etats-Unis était présent à l’inauguration du
                lycée de l’ORT à Montreuil le 15 juillet 1948. A ses côtés, le président
                du syndicat américain des ouvriers de la confection pour dames, avec
                son ami Léon Blum, homme d’Etat français juif et socialiste très lié à
                l’ORT, et le ministre du travail de l’époque, Daniel Mayer. Celui-ci
                allait donner plus tard son nom à l’établissement, après avoir été
                président de l’ORT mondiale…et du Conseil constitutionnel de la France.
                Egalement à leurs côtés, le maire communiste de Montreuil, Daniel
                Renoult, quelques semaines après la proclamation de l’indépendance de
                l’Etat d’Israël qui avait été accueillie avec enthousiasme par l’Union
                soviétique.L’ORT avait commencé son travail en France à une
                échelle modeste avant la seconde guerre mondiale. Son président
                d'après-guerre, Léon Meiss, avait été exclu par les lois de Vichy de son
                métier de magistrat, et s’était reconverti en ouvrier qualifié grâce
                aux cours dispensés par…l’ORT. Egalement président fondateur du CRIF, il
                a accompagné la mise en place à travers le pays des écoles destinées
                d’abord aux rescapés, souvent orphelins, qui durent reconstruire leur
                vie. Ce fut le temps du nouveau sigle de l’ORT, français celui-là,
                Organisation Reconstruction Travail. L’ORT de Montreuil a accompagné les
                premiers pas du Musée d’art juif de Paris, prélude au grand musée de la
                rue du Temple, ouvert en 1998. Puis ce fut la grande vague des Juifs
                d’Afrique du Nord (1950, 1960, 1970) qui bénéficia des services de l’ORT
                pour s’insérer au mieux dans la société française- en proposant des
                formations en mécanique, électricité, électronique, menuiserie,
                secrétariat, comptabilité, couture.L’ORT mondiale a rendu de
                grands services à l’Etat d’Israël pour le développement de ses écoles
                professionnelles. Mais elle est aussi, aujourd’hui, une véritable ONG
                qui contribue au progrès humain sur tous les continents, bien au-delà
                des communautés juives.</p>
        </div>

    </section>

{% endblock %}
