<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" type="image/png" href="{{ asset('etudiant/img/favicon.png') }}">
    <title>
        Mot de passe oublié !
    </title>
    <!--     Fonts and icons     -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
    <!-- Nucleo Icons -->
    <link href="{{ asset('etudiant/css/nucleo-icons.css') }}" rel="stylesheet" />
    <link href="{{ asset('etudiant/css/nucleo-svg.css') }}" rel="stylesheet" />
    <!-- Font Awesome Icons -->
    <link href="{{ asset('etudiant/css/font-awesome.css') }}" rel="stylesheet" />
    <!-- CSS Files -->
    <link href="{{ asset('etudiant/css/argon-design-system.css?v=1.2.2') }}" rel="stylesheet" />
</head>

<body class="login-page bg-gradient-dark">

<section class="section section-shaped section-auto">
    <div class="shape shape-style-1">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </div>
    <div class="container pt-lg-7">
        <div class="row align-items-center justify-content-center">
            <div class="col-lg-12 text-center">
                <h1 class="text-white display-1">Mot de passe oublié</h1>
                <h2 class="display-4 font-weight-normal text-white">Saisissez votre email pour recevoir un lien de reinitialisation</h2>
                <div class="btn-wrapper mt-4">
                    <form method="post">

                        {{ include('etudiant/partials/messages.html.twig') }}

                        <div class="form-group">
                            <label for="inputEmail" class="sr-only">Votre email</label>
                            <input type="email" name="email" id="inputEmail" class="form-control" placeholder="Email"
                                   required autofocus>
                        </div>
                        <div class="form-group">
                            <button class="btn btn-neutral" type="submit">
                                Recevoir email
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

<!--   Core JS Files   -->
<script src="{{ asset('etudiant/js/core/jquery.min.js') }}" type="text/javascript"></script>
<script src="{{ asset('etudiant/js/core/popper.min.js') }}" type="text/javascript"></script>
<script src="{{ asset('etudiant/js/core/bootstrap-old.min.js') }}" type="text/javascript"></script>
<script src="{{ asset('etudiant/js/plugins/perfect-scrollbar.jquery.min.js') }}"></script>
<!--  Plugin for Switches, full documentation here: http://www.jque.re/plugins/version3/bootstrap.switch/ -->
<script src="{{ asset('etudiant/js/plugins/bootstrap-switch.js') }}"></script>
<!--  Plugin for the Sliders, full documentation here: http://refreshless.com/nouislider/ -->
<script src="{{ asset('etudiant/js/plugins/nouislider.min.js') }}" type="text/javascript"></script>
<script src="{{ asset('etudiant/js/plugins/moment.min.js') }}"></script>
<!-- Control Center for Argon UI Kit: parallax effects, scripts for the example pages etc -->

<script src="{{ asset('etudiant/js/argon-design-system.min.js?v=1.2.2') }}" type="text/javascript"></script>
</body>

</html>
