{% extends 'admin/base.html.twig' %}

{% block title %}Niveau d'étude
{% endblock %}

{% block body %}

    <div class="container-fluid py-2">
        <div class="header-body">
            <div class="row col-12 align-items-center py-4">
                <div class="col-6">
                    <h5 class="text-white d-inline-block mb-0">Niveau d'étude</h5>
                </div>
                <div class="col-6 text-end">
                    <a class="btn btn-light" href="{{ path('etude_index') }}">Retour à la liste des niveaux d'étude</a>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid mt--6">
        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-header border-0">
                        <h5 class="mb-0">Niveau d'étude :
                            {{ etude.libelle }}</h5>
                    </div>
                    <div class="card-body col-6">
                        <table class="table table-responsive table-hover text-sm">
                            <tbody>
                            <tr>
                                <th>Id</th>
                                <td>{{ etude.id }}</td>
                            </tr>
                            <tr>
                                <th>Nom du niveau d'étude</th>
                                <td>{{ etude.libelle }}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="card-footer">
                        <h6>Liste d'étudiant(e)s ayant ce niveau d'étude :</h6>

                        <table id="datatable" class="table table-sm datatable-export align-items-center table-flush p-2">

                            <thead class="thead-light">
                            <tr>
                                <th scope="col">Id</th>
                                <th scope="col">Nom</th>
                                <th scope="col">Prénom</th>
                                <th scope="col">Email</th>
                            </tr>
                            </thead>
                            <tbody class="list text-sm">

                            {% for etudiant in listeEtudiants %}
                                <tr scope="row">
                                    <td>{{ etudiant.id }}</td>
                                    <td>{{ etudiant.name }}</td>
                                    <td>{{ etudiant.firstName }}</td>
                                    <td>{{ etudiant.email }}</td>
                                </tr>
                            {% else %}
                                <tr>
                                    <td colspan="4">Aucun(e) étduiant(e) trouvé(e).</td>
                                </tr>
                            {% endfor %}

                            </tbody>
                        </table>
                    </div>

                    <div class="card-footer text-end">
                        <div class="btn-group-toggle">
                            {% if etude.status == 'trash' %}
                                <a class="btn btn-success" href="{{ path('etude_restore', {'id': etude.id}) }}">Restaurer</a>
                                {{ include('admin/etude/_delete_form.html.twig') }}
                            {% else %}
                                <a class="btn btn-success" href="{{ path('etude_edit', {'id': etude.id}) }}">Modifier</a>
                                <a class="btn btn-danger" href="{{ path('etude_move_to_trash', {'id': etude.id}) }}">Mettre à la corbeille</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}

    <script src="{{ asset('admin/js/exportDatatable.js') }}"></script>

{% endblock %}
